.left-part {
    height: 100%;
    overflow-y: scroll;
}

.right-part {
    height: 100%;
    overflow-y: scroll;
}

.margin-top {
    margin-top: 10px;
}

.btn-delete, .btn-delete:active, .btn-delete:checked, .btn-delete:enabled {
    background-color: transparent;
    color: #9C9C9C;
    padding-bottom: 1%;
    font-size: 100%;
}

.btn-delete:hover {
    color: #474949;
}

.left-top {
    position: absolute;
    top: 0;
    left: 0;
}

.panel-edit:hover {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    cursor: pointer;
}

.user-problem-solved {
    color: #46a546;
    font-weight: bold;
}

.user-problem-read {
    color: #7B7B88;
    font-weight: bold;
}

.user-problem-new {
    color: #1F1F23;
    font-weight: bold;
}

.user-problem-attempted {
    color: #D26E06;
    font-weight: bold;
}